<script src="js/calendar.js"></script>

<div class="container-fluid page-body">

    <div class="col-md-2 col-xs-12 left-list">
        <ul class="list-group black">
            <li class="list-group-item">
                <i class="fa fa-home"></i>
                <a href="index.php">Home</a>
            </li>
            <li class="list-group-item">
                <i class="fa fa-address-book"></i>
                <a href="#" class="self-profile-link">Profile</a>
            </li>
            <li class="list-group-item">
                <i class="fa fa-graduation-cap"></i>
                <a href="#">Grades</a>
            </li>
            <li class="list-group-item">
                <i class="fa fa-book"></i>
                <a href="#">Assignments</a>
            </li>
        </ul>

        <ul class="list-group black">
            <li class="list-group-item">
                <i class="fa fa-newspaper-o"></i>
                <a href="#">News</a>
            </li>
            <li class="list-group-item">
                <i class="fa fa-envelope"></i>
                <a href="#">Messages</a>
            </li>
            <li class="list-group-item">
                <i class="fa fa-calendar"></i>
                <a href="index.php?calendar">Calendar</a>
            </li>
        </ul>
    </div>

    <div class="col-md-7 col-xs-12 feed-col">
      <h1>Calendar</h1>

      <div class="container-fluid">
        <div class="calendar-left side-calendar black">
            <h2>+</h2>

            <h1></h1>
            <h3></h3>

            <div class="todo-list">
              <p>Here is what you have to do today:</p>
            </div>

        </div>
        <div class="calendar-right">
          <table class="calendar-table">
            <thead>
              <tr>
                <td colspan="100">

                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Sun
                </td>
                <td>
                  Mon
                </td>
                <td>
                  Tue
                </td>
                <td>
                  Wed
                </td>
                <td>
                  Thu
                </td>
                <td>
                  Fri
                </td>
                <td>
                  Sat
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
</div>
