<div class="container-fluid page-body">
        <div class="col-md-2 col-xs-12 left-list">
            <ul class="list-group black">
                <li class="list-group-item">
                    <i class="fa fa-newspaper-o"></i>
                    <a href="#">News</a>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-envelope"></i>
                    <a href="#">Messages</a>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-calendar"></i>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>

        <div class="col-md-7 col-xs-12 feed-col" id="newsFeed">
            <div class="feed-card black">
                <span><a href="#">@posted</a> at 14:35</span>
                <a href="#" class="feed-menu-handler"><i class="fa fa-ellipsis-v"></i></a>
                <h1>Feed card</h1>
                <p>Feed body</p>
            </div>
        </div>

        <div class="col-md-3 col-xs-12 right-list">
            <div id="chart_div"></div>
        </div>
</div>